html
    head
        title='Login'
    body
        form(action='/v1/authorization', method='POST')
            p
              | Логин:
              input(type='text', name='login', value='')
              | Пароль:
              input(type='password', name='password', value='')
            input(type='submit', value='Submit')
